*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 50px;
}
input[type="checkbox"]{
  display: none;
}
input:checked + #s1{
  background: greenyellow;
}
label{
  position: relative;
  display: flex;
}
.s1{
  position: relative;
  width: 90px;
  height: 46px;
  background: url('b.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  padding: 0;
  user-select: none;
  transition: .1s;
  border-radius: 30px;
  border-radius: 0px;
  display: inline-block;
  border: 3px solid black;
}
.s2{  
  position: relative;
  width: 42px;
  height: 40px;
  margin-top: 0px;
  background: rgb(140,192,251);
  border-radius: 27px;
  border-radius: 0px;
  transition: .1s;
}
.noite,.dia{
  position: absolute;
  top: 5px;
  left: 95px;
  font-size: 35px;
  display: inline-block;
  user-select: none;
  transition: .1s;
}
.noite{ 
  top:3px;
  opacity: 1;
}
.dia{ 
  top:-37px;
  opacity: 0;  
}
.containerCheckbox{
  width: 185px;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}
input:checked + .s1{
  padding-left: 42px;
  border: 3px solid #363636;
}

input:checked + .s1 .s2{
  background: #363636;
}

input:checked ~ .dia{
  top:3px;
  opacity: 1; 
}
input:checked ~ .noite{
  top:45px;
  opacity: 0;
}
