*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 50px;
}
input[type="checkbox"]{
  display: none;
}
input:checked + #s1{
  background: greenyellow;
}
label{
  position: relative;
}
.s1{
  position: relative;
  width: 90px;
  height: 46px;
  background: grey;
  padding: 0;
  user-select: none;
  transition: .1s;
  border-radius: 25px;
  display: inline-block;
  border: 3px solid black;
}
.s2{  
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
}
.titulo1{
  position: relative;
  top: -7px;
  font-size: 35px;
  display: inline-block;
  user-select: none;
}
input:checked + .s1{
  padding-left: 44px;
  background: yellowgreen;
  border: 3px solid green;
}

input:checked + .s1 .s2{
  background: green;
}
.textoInterno{
  position: absolute;
  width: 85px;
  left: 0px;
  top: 8px;
  text-align: center;
  font-size: 20px;
}