*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 50px;
}
input[type="checkbox"]{
  display: none;
}
input:checked + #s1{
  background: greenyellow;
}
label{
  position: relative;
  width: auto;
}
.s1{
  position: relative;
  width: 40px;
  height: 40px;
  background: #fff;
  padding: 5px;
  user-select: none;
  border-radius: 0;
  display: inline-block;
  border: grey 5px solid;
  /*box-shadow: 5px 2px 2px grey;*/
}
input:checked + .s1{
  border: green solid 5px;
  background: url("checked.jpg");
  background-size: 27px 27px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
}
input:checked ~ .titulo{
  color: green;  
}
.titulo{
  position: relative;
  top:-8px;
  left: 5px;
  font-size: 35px;
  display: inline-block;
  color: grey;
  user-select: none;
}
label{ display: block; }
.linha{
  position: absolute;
  background-color: grey;
  width: 0;
  height: 3px;
  top:calc(50%);
  left: 0px;
  transition: .1s;
}

input:checked ~ .titulo .linha{
  width: 100%;
  background-color: green;
}